.container {
  position: relative;
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearBtn {
  position: absolute;
  right: 1px;
  top: 1px;
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 13px;
  background: var(--dark-primary);
}

.clearBtn svg {
  width: 14px;
  height: 14px;
}

.clearBtn svg path {
  stroke-width: 4;
}

.input {
  width: 100%;
  background: var(--dark-primary);
  border: none;
  border-radius: 13px;
  color: white;
  padding: 16px 20px;
  font-size: 1rem;
}
