.container {
  width: 100%;
  margin-top: 10px;
  background: var(--dark-primary);
  border: 1px solid white;
  border-radius: 13px;
  color: white;
  padding: 15px 20px;
  font-size: 1rem;
  margin-top: 20px;
}

.toTheBottom {
  display: block;
  position: absolute;
  bottom: 130px;
  width: calc(100% - 2 * var(--side-padding));
}
