.mainTitle {
  margin-bottom: 20px;
}

.listContainer {
  height: calc(100% - 260px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.noResults {
  color: var(--fg-secondary);
  text-align: center;
}
