.container {
  position: absolute;
  z-index: 3;
  top: 75px;
  right: 18px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background: var(--primary-linear-gradient);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:active {
  opacity: 0.85;
}
