.container {
  display: block;
  position: absolute;
  bottom: var(--side-padding);
  font-size: 1rem;
  border: none;
  padding: 16px;
  border-radius: 13px;
  color: var(--fg-primary);
  background: var(--primary-linear-gradient);
  width: calc(100% - 2 * var(--side-padding));
}
