.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 40px;
}

.statName {
  color: var(--fg-secondary);
}

/* .statContent {

} */
